@model AutoPartsWebSite.Models.Payment

@{
    ViewBag.Title = "УДАЛЕНИЕ ПЛАТЕЖА";
}

<DIV class="main-text">
<h1 id="cntr">@ViewBag.Title</h1>
<div class="reg-form">
<br>

<p>ДАТА: @Html.DisplayFor(model => model.Data)</p>
<p>СУММА: $@Html.DisplayFor(model => model.Amount)</p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="УДАЛИТЬ" class="btn btn-default" />
        </div>
    }
</div><br>
<div id="cntr">
    @Html.ActionLink("Вернуться к списку платежей", "IndexUser", new { id = Model.UserId })
</div>
</div>