@{
    ViewBag.Title = "Контакты";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>  
</hgroup>

<div>
    <address>
        &copy; ALFA PARTS TRADING FZE. <br />
        UNITED ARAB EMIRATES.<br />
        <i class="icon-envelope"></i><strong>Info:</strong>   <a href="mailto:INFO@ALFA-PARTS.COM">INFO@ALFA-PARTS.COM</a><br />
        <abbr title="Phone">P:</abbr>
        +971 52 660 9777
    </address>
</div>

