@{
    ViewBag.Title = "Home Page";
    int maxSearchItemCount = 1;
    int maxSearchRowsCount = 1;
}
@if (Request.IsAuthenticated && User.IsInRole("RegistredUser"))
{
    maxSearchItemCount = 10; //--toDo: take it from DB
    maxSearchRowsCount = 10; //--toDo: good to change it to maxSearchItemCount and add scroling
}
<div class="jumbotron">
    <h2>Поиск запчастей</h2>

    <p>
        @using (Html.BeginForm("SearchParts", "Parts", FormMethod.Post))
        {
        <p>
            @Html.TextArea("autopartNumbers", new { rows = maxSearchRowsCount, columns = 60, placeholder = "тут текст из параметра" })
            <input type="submit" value="Поиск" />
     </p>
        }       

</div>






