@{
    ViewBag.Title = "Home Page";
    int maxSearchItemCount = 1;
    int maxSearchRowsCount = 1;
}
@if (Request.IsAuthenticated && User.IsInRole("RegistredUser"))
{
    maxSearchItemCount = 10; //toDo: teake it from DB
    maxSearchRowsCount = 10; //toDo: good to change it to maxSearchItemCount and add scroling
}
	<DIV class="main-text">

	<h2 id="cntr">ПОИСК ПО НОМЕРУ ЗАПЧАСТИ</h2>

	<div class="reg-form">
	<br>


        @using (Html.BeginForm("Search", "Parts", FormMethod.Post))
        {
            @Html.TextArea("autopartNumbers", new { rows = maxSearchRowsCount, columns = 60, placeholder="КОД ЗАПЧАСТИ" })
            @*@Html.Hidden("maxItemCount", maxSearchItemCount)*@
          
<input type="submit" name="" value="НАЙТИ" class="but" />
}
	</DIV>


@*<p>
    @Html.ActionLink("Экспорт результатов в Excel", "Excel")
</p>*@

	</DIV>
@ViewBag.Message







