@{
    ViewBag.Title = "Home Page";
    int maxSearchItemCount = 1;
    int maxSearchRowsCount = 1;
}
@if (Request.IsAuthenticated && User.IsInRole("RegistredUser"))
{
    maxSearchItemCount = 10;
    maxSearchRowsCount = 10; 
}
<div class="jumbotron">
    <h2>Поиск запчастей</h2>

    <p>
        @using (Html.BeginForm("Search", "Parts", FormMethod.Post))
        {
        <p>
            @Html.TextArea("autopartNumbers", new { rows = maxSearchRowsCount, columns = 60, placeholder = "КОД ЗАПЧАСТИ" })
            <input type="submit" value="Поиск" />
     </p>
        }       

</div>

@ViewBag.Message






