@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>Поиск запчастей</h2>

    <p>
        @using (Html.BeginForm("SearchPart", "Parts", FormMethod.Post))
        {
        <p>
            @Html.TextBox("autopartNumber")
            <input type="submit" value="Поиск" />
        </p>
        }
        @*<p>
                @Html.ActionLink("Экспорт результатов в Excel", "Excel")
            </p>*@
        </p>
    </div>