@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<hgroup>
    <h1 class="text-error">Ошибка.</h1>
    <h2 class="text-error">Возникла ошибка при обслуживании вашего запроса.</h2>
</hgroup>
