@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокировано";
}

<hgroup>
    <h1 class="text-error">Заблокировано.</h1>
    <h2 class="text-error">Эта учетная запись была заблокирована, попробуйте еще раз позже.</h2>
</hgroup>
