
@{
    ViewBag.Title = "Импорт";
}

<h2>Импорт</h2>

@using (Html.BeginForm("ExcelImport", "PartReplacements", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Таблица замен</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        

        <div class="form-group">            
            <div class="col-md-10">
                <input type="file" id="FileName" name="upload" accept=".xlsx" />                
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Загрузить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@ViewBag.Message

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

