@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Удаление роли";
}

	<DIV class="main-text">

	<h1 id="cntr">@ViewBag.Title @Html.DisplayFor(model => model.Name)</h1>

<h3 id="cntr">Вы уверены, что хотите это сделать?</h3>
	<br>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }

        <div class="form-actions no-color" id="cntr">
            <input type="submit" value="УДАЛИТЬ" class="btn btn-default but" />
			<br>
            @Html.ActionLink("Назад", "Index")
        </div>
</div>