@{
    ViewBag.Title = "Вам отправленна ссылка для активации вашей учетной записи.";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
            Проверьте пожалуйста ваш почтовый ящик и подтвердите e-mail.    
</p>
@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@
