@{
    ViewBag.Title = "ВОССТАНОВЛЕНИЕ ПАРОЛЯ";
}

<DIV class="main-text">

<h2 id="cntr">@ViewBag.Title</h2>
<div class="mess-board" id="cntr"></div>
<br>
<p id="cntr">На Ваш E-Mail отправлена ссылка для восстановления вашего пароля.</p>

</DIV>

