@{
    ViewBag.Title = "Подтвеждение изменения пароля.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль был изменен. Пожалуйста @Html.ActionLink("нажмите тут для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
